<template>
<html>
<head>
  <title> Home </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">BugsBuddy</a>
    </div>
    <ul class="nav navbar-nav-right nav-pills">
      <router-link :to="{name: 'Dashboard', params: {auth : this.$route.params.auth}}">Home</router-link>
      <router-link :to="{name: 'CreateProject', params: {auth : this.$route.params.auth}}">Create a Project</router-link>
      <router-link :to="{name: 'CreateIssue', params: {auth : this.$route.params.auth}}">Raise an Issue</router-link>
      <router-link :to="{name: 'ViewIssuesAssigned', params: {auth : this.$route.params.auth}}">Assigned Issues</router-link>
      <router-link :to="{name: 'ViewIssuesReported', params: {auth : this.$route.params.auth}}">Reported Issues</router-link>
      <router-link :to="{name: 'SearchProjects', params: {auth : this.$route.params.auth}}">Search Projects</router-link>      
      <router-link :to="{name: 'SearchIssues', params: {auth : this.$route.params.auth}}">Search Issues</router-link>      
      <router-link to="/logout" v-on:click.native="logout()"><button class="btn btn-danger navbar-btn">Logout</button></router-link>
    </ul>
  </div>
</nav>

  <template>
  <mdb-alert color="success" v-if="project_id!=''" @closeAlert="p1=false" dismiss>
    <strong>Project Creation Successful!</strong> You can check the project information at <router-link :to="{name : 'ViewProject', params: {project_id, auth : this.$route.params.auth }}" @click="viewProject">{{project_id}} </router-link>
  </mdb-alert>
</template>

  <mdb-card>
    <mdb-card-body><br>
      <form @submit.prevent="createProject">
        <p class="h4 text-center py-4">Create a Project</p>
        <div class="grey-text">
          <mdb-input label="Project Name" v-model="project_name" icon="file-alt" group type="text" validate error="wrong" success="right" required/><br>
          <mdb-textarea icon="pencil-alt" v-model="project_description" iconClass="grey-text" label="Project Description" id="form-text" :rows="3" required/><br>
          <mdb-input label="Project Manager" v-model="project_manager" icon="user" group type="text" validate error="wrong" success="right" required/><br>
          <mdb-input label="Workspace" v-model="workspace" icon="file-alt" group type="text" validate error="wrong" success="right" required/> <br>
          <mdb-icon icon="file" size="2x" style="margin-left:11px"/>
          <div style="margin-left:55px;margin-top:-24px;">
              <select class="browser-default custom-select custom-select-lg mb-3" v-model="project_type">
                <option selected disabled>Project Type</option>
              <option value ="Software">Software</option>
              <option value ="Business">Business</option>
              </optgroup>
            </select>
          </div>
        </div> <br>
        <div class="text-center py-4 mt-3"><br>
          <mdb-btn color="cyan" type="submit">Create Project</mdb-btn><br><br>
        </div>
        <br>
      </form>
    </mdb-card-body>
  </mdb-card>
</body>
</html>
</template>



<script>
import axios from "axios";

  import { mdbInput,mdbBtn,mdbCard,mdbCardBody, mdbTextarea, mdbToastNotification, mdbAlert, mdbIcon } from "mdbvue";
  export default {
    name: 'CreateProject',
    components: {
      mdbInput,
      mdbBtn,
      mdbCard,
      mdbCardBody,
      mdbTextarea,
      mdbToastNotification,
      mdbAlert,
      mdbIcon
    },

    data() {
      return {
        project_name: "",
        project_description: "",
        project_manager: "",
        project_type: "Project Type",
        project_id: "",
        corp_id: "",
        p1: true,
        workspace: ""
      }
    },

    mounted () {
      if(!this.$route.params.auth)
      {
          this.$router.push('/login');
      }
      else
        console.log(this.$route.params.auth);
    },

    methods: {
      async createProject () {
        let project_name = this.project_name;
        let project_description = this.project_description;
        let project_manager= this.project_manager;
        let project_type = this.project_type;
        let workspace = this.workspace;
        let p1 = true;
        let corp_id=this.$route.params.auth;

        let project_id = await axios({ method: "POST", "url": "http://localhost:4910/v1/project",
            "data": {project_name, project_description, project_manager, project_type, workspace}}).then(result => {

                console.log(result.data);
                this.project_id=result.data[0].project_id;
                return result.data[0].project_id;
            }, error => {
                console.log('Error');
                console.error(error);
        });

        let action = "created Project";
        let alias_object = project_name;
        let subject = corp_id;
        let object = project_id;
        console.log('Finished creating project');
      },

      viewProject: function () {
        console.log(this.project_id);
        let project_id = this.project_id;
        axios({ method: "GET", "url": "http://localhost:4910/v1/project",
            "data": {project_id}}).then(result => {
                console.log('Okayyy');
                console.log(result.data);
            }, error => {
                console.log('Error');
                console.error(error);
            });
      }
    }

  }

</script>

<style scoped>

.container-fluid{
  font-size: 18px;
}

.container {
  font-size: 25px;
}

.navbar-brand {
  margin-left:-500px;
  margin-right: -200px;
}

.navbar-nav-right {
  font-color:white;
  margin-left: 100px;
  margin-right: -600px;
}


.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
  margin-left: -500px;
  margin-right: -300px;
}

.navbar .dropdown-menu a {
  margin-top: 0px;
  font-size: 14px;
}

.card {
  max-width:700px;
  margin-top: 150px;
  margin-left:450px;
}

.md-form label {
  font-size: 4em;
}

.md-form .prefix {
  font-size: 3em;
  left:1em;
}

.toast {
  font-size:30px;
  margin-left:100px;
}

.md-form .prefix {
  font-size: 10rem !important;
  margin-left:10px;
}

.md-form .prefix ~ label {
  margin-left: 8.5rem;
}

.md-form label {
  font-size:1.3rem;
}

.md-form .prefix ~ input {
  margin-left: 8.5rem;
  width: 400px;
}

.md-form .prefix ~ textarea {
  margin-left: 8.5rem;
  width: 400px;
}
.card {
  width:600px;
}

a {
  margin-right:30px;
}

</style>
