<template>
<html>
<head>
  <title> Home </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">BugsBuddy</a>
    </div>
    <ul class="nav navbar-nav-right">
      <router-link :to="{name: 'Dashboard', params: {auth : this.$route.params.auth}}">Home</router-link>
      <router-link :to="{name: 'CreateProject', params: {auth : this.$route.params.auth}}">Create a Project</router-link>
      <router-link :to="{name: 'CreateIssue', params: {auth : this.$route.params.auth}}">Raise an Issue</router-link>
      <router-link :to="{name: 'ViewIssuesAssigned', params: {auth : this.$route.params.auth}}">Assigned Issues</router-link>
      <router-link :to="{name: 'ViewIssuesReported', params: {auth : this.$route.params.auth}}">Reported Issues</router-link>
      <router-link :to="{name: 'SearchProjects', params: {auth : this.$route.params.auth}}">Search Projects</router-link>
      <router-link :to="{name: 'SearchIssues', params: {auth : this.$route.params.auth}}">Search Issues</router-link>      
      <router-link to="/logout" v-on:click.native="logout()"><button class="btn btn-danger navbar-btn">Logout</button></router-link>
    </ul>
  </div>
</nav>

  <template>
  <mdb-alert color="success" v-if="issue_id!=''" @closeAlert="p1=false" dismiss>
    <strong>Issue Creation Successful!</strong> You can check the issue information at <router-link :to="{name : 'ViewIssue', params: {issue_id, auth : this.$route.params.auth } }" @click="viewIssue">{{issue_id}} </router-link>
  </mdb-alert>
</template>

  <mdb-card>
    <mdb-card-body><br>
      <form @submit.prevent="createIssue">
        <p class="h4 text-center py-4">Raise an Issue</p>
        <div class="grey-text">
          <mdb-input label="Issue Name" v-model="issue_name" icon="file-alt" group type="text" validate error="wrong" success="right" required/><br>
          <mdb-textarea icon="pencil-alt" v-model="issue_description" iconClass="grey-text" label="Issue Description" id="form-text" :rows="3" required/>
          <mdb-input label="Assigned To" v-model="assigned_to" icon="arrow-right" group type="text" validate error="wrong" success="right" required/><br>
          <mdb-input label="Reported By" v-model="reported_by" icon="arrow-left" group type="text" validate error="wrong" success="right" required/><br>
          <mdb-input label="Project ID" v-model="project_id" icon="file-code" group type="text" validate error="wrong" success="right" required/><br>
          <mdb-input label="Workspace" v-model="workspace" icon="file" group type="text" validate error="wrong" success="right" required/><br>
          <mdb-icon icon="file" size="2x" style="margin-left:11px"/>
          </div><br><br>
          <div style="margin-left:55px;margin-top:-64px;">
              <select class="custom-select custom-select-lg mb-3" v-model="issue_status">
              <option selected disabled>Issue Status</option>
              <option value ="Open">Open</option>
              <option value ="In Progress">In Progress</option>
              <option value ="Peer Code Review">Peer Code Review</option>
              <option value ="Reopened">Reopened</option>
              <option value ="In QA">In QA</option>
              <option value ="Resolved">Resolved</option>
              </optgroup>
            </select>
          </div><br><br>
          <mdb-icon icon="file-alt" size="2x" style="margin-left:11px; color:grey"/>
          <div style="margin-left:55px;margin-top:-24px;">
              <select class="custom-select custom-select-lg mb-3" v-model="issue_severity" style="width:140px">
              <option selected disabled>Issue Severity</option>
              <option value ="P0">P0</option>
              <option value ="P1">P1</option>
              <option value ="P2">P2</option>
              <option value ="P3">P3</option>
              </optgroup>
            </select>
          </div>
        </div>
        <br>
        <div class="text-center py-4 mt-3">
          <mdb-btn color="cyan" type="submit">Raise Issue</mdb-btn>
        </div>
        <br><br>
      </form>
    </mdb-card-body>
  </mdb-card>
</body>
</html>
</template>



<script>
import axios from "axios";

  import { mdbInput,mdbBtn,mdbCard,mdbCardBody, mdbTextarea, mdbToastNotification, mdbAlert, mdbIcon} from "mdbvue";
  export default {
    name: 'CreateProject',
    components: {
      mdbInput,
      mdbBtn,
      mdbCard,
      mdbCardBody,
      mdbTextarea,
      mdbToastNotification,
      mdbAlert,
      mdbIcon
    },

    data() {
      return {
        issue_name: "",
        issue_description: "",
        issue_severity: "Issue Severity",
        assigned_to: "",
        reported_by: "",
        issue_status: "Issue Status",
        issue_type: "",
        project_id: "",
        issue_id: "",
        workspace : "",
        p1: true,
        auth: ""
      }
    },

    mounted () {
    if(!this.$route.params.auth)
    {
        this.$router.push('/login');
    }
    else
      console.log(this.$route.params.auth);
      this.auth = this.$route.params.auth;

  },

    methods: {
      async createIssue() {
        let issue_name = this.issue_name;
        let issue_description = this.issue_description;
        let assigned_to= this.assigned_to;
        let reported_by = this.reported_by;
        let issue_severity = this.issue_severity;
        let issue_type = this.issue_type;
        let project_id = this.project_id;
        let issue_status = this.issue_status;
        let workspace= this.workspace;

        let p1 = true;
        let action = "created Issue";
        let subject = this.auth;

        await axios({ method: "POST", "url": "http://localhost:4910/v1/issue",
            "data": {issue_name, issue_description, assigned_to, reported_by, issue_severity, issue_status, issue_type, project_id, workspace}}).then(result => {
                console.log('Okayyy');
                console.log(result.data);
                this.issue_id=result.data.issue_id;
            }, error => {
                console.log('Error');
                console.error(error);
            });

      },

      async viewIssue() {
        console.log(this.project_id);
        let issue_id = this.issue_id;
        axios({ method: "GET", "url": "http://localhost:4910/v1/issue",
            "data": {issue_id}}).then(result => {
                console.log('Okayyy');
                console.log(result.data);
            }, error => {
                console.log('Error');
                console.error(error);
            });
      }
    }

  }

</script>

<style scoped >

.container-fluid{
  font-size: 18px;
}

.container {
  font-size: 25px;
}

.navbar-brand {
  margin-left:-500px;
  margin-right: -200px;
}

.navbar-nav-right {
  font-color:white;
  margin-left: 100px;
  margin-right: -600px;
}


.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
  margin-left: -500px;
  margin-right: -300px;
}

.navbar .dropdown-menu a {
  margin-top: 0px;
  font-size: 14px;
}

.card {
  max-width:700px;
  margin-top: 50px;
  margin-left:450px;
}

.md-form label {
  font-size: 4em;
}

.md-form .prefix {
  font-size: 3em;
  left:1em;
}

.toast {
  font-size:30px;
  margin-left:100px;
}

.md-form .prefix {
  font-size: 3rem;
  margin-left:10px
}

.md-form .prefix ~ label {
  margin-left: 8.5rem;
}

.md-form label {
  font-size:1.3rem;
}

.md-form .prefix ~ input {
  margin-left: 8.5rem;
  width: 400px;
}

.md-form .prefix ~ textarea {
  margin-left: 8.5rem;
  width: 400px;
}

.card {
  width:600px;
}

a {
  margin-right:30px;
}
</style>
