<template>
<html>
<head>
  <title> Home </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">BugsBuddy</a>
    </div>
    <ul class="nav navbar-nav-right nav-pills">
      <router-link :to="{name: 'Dashboard', params: {auth : this.$route.params.auth}}">Home</router-link>
      <router-link :to="{name: 'CreateProject', params: {auth : this.$route.params.auth}}">Create a Project</router-link>
      <router-link :to="{name: 'CreateIssue', params: {auth : this.$route.params.auth}}">Raise an Issue</router-link>
      <router-link :to="{name: 'ViewIssuesAssigned', params: {auth : this.$route.params.auth}}">Assigned Issues</router-link>
      <router-link :to="{name: 'ViewIssuesReported', params: {auth : this.$route.params.auth}}">Reported Issues</router-link>
      <router-link :to="{name: 'SearchProjects', params: {auth : this.$route.params.auth}}">Search Projects</router-link>
       <router-link :to="{name: 'SearchIssues', params: {auth : this.$route.params.auth}}">Search Issues</router-link>     
      <router-link to="/logout" v-on:click.native="logout()"><button class="btn btn-danger navbar-btn">Logout</button></router-link>
      
    </ul>
  </div>
</nav>
<center>

<div class="panel panel-primary">
  <div class="panel-heading">Projects in your workspace - {{workspace}} </div>
  <div class="panel-body">
<!--<mdb-tbl v-if="projectsList!=''">
      <mdb-tbl-head>
      <tr>
      <th> Project ID</th>
      <th> Project Name </th>
      <th> Project Description </th>
      <th> Project Manager </th>
      <th> Project Type </th>
      <th> Workspace </th>
      </tr>
    </mdb-tbl-head>
    <mdb-tbl-body>
    <tr v-for="(item, index) in projectsList">
      <td>
        <router-link :to="{name : 'ViewProject', params: { project_id: projectsList[index].project_id , auth : corpid} }"  @click="viewProject(item.project_id)">{{item.project_id}}</router-link>
      </td>
      <td >
        {{item.project_name}}
      </td>
      <td >
        {{item.project_description}}
      </td>
      <td >
        {{item.project_manager}}
      </td>
      <td >
        {{item.project_type}}
      </td>
      <td >
        {{item.workspace}}
      </td>
    </tr>
    </mdb-tbl-body>
  </mdb-tbl>
  <center>
  <div v-if="projectsList==''">
    There are currently no projects in your workspace !
  </div>
  </center>-->

  <ul class="list-unstyled">
  <li class="media" v-for="(item, index) in projectsList">
    <div class="media-body">
      <router-link :to="{name : 'ViewProject', params: { project_id: projectsList[index].project_id , auth : corpid} }"  @click="viewProject(item.project_id)"><p style="text-align:left; font-size:24px; margin-top:-50px; margin-bottom:-0px;"> {{item.project_name}} </p></router-link> <br>
      <span class="type">Description: &nbsp &nbsp &nbsp &nbsp </span> <span class="fields">{{item.project_description}}</span><br>
      <span class="type">Project Type: &nbsp &nbsp &nbsp </span> <span class="fields">{{item.project_type}}</span><br>      
      <router-link :to="{name : 'ViewProject', params: { project_id: projectsList[index].project_id , auth : corpid} }"  @click="viewIssue()"><p style="text-align:left; font-size:20px; margin-top:-100px; margin-bottom:0px; margin-left: 860px;"> View more info >> </p></router-link> 
    </div>
    <hr>
  </li>
</ul>
<center>
<div v-if="projectsList==''">
    There are currently no projects in your workspace !
</div>
</center>

    </div>
  </div>
</center>

<br> <br>

<center>
<div class="panel panel-primary">
  <div class="panel-heading">Issues in your workspace - {{workspace}} </div>
  <div class="panel-body">
<!--<mdb-tbl v-if="issuesList!=''">
      <mdb-tbl-head>
      <tr>
      <th> Issue ID</th>
      <th> Issue Name </th>
      <th> Issue Description </th>
      <th> Issue Severity </th>
      <th> Issue Status </th>
      <th> Assigned To </th>
      <th> Reported By </th>
      <th> Project ID </th>
      <th> Workspace </th>
      </tr>
    </mdb-tbl-head>
    <mdb-tbl-body>
    <tr v-for="(item, index) in issuesList">
      <td>
        <router-link :to="{name : 'ViewIssue', params: { issue_id: issuesList[index].issue_id , auth : corpid} }"  @click="viewIssue()">{{item.project_id}}</router-link>
      </td>
      <td >
        {{item.issue_name}}
      </td>
      <td >
        {{item.issue_description}}
      </td>
      <td >
        {{item.issue_severity}}
      </td>
      <td >
        {{item.issue_status}}
      </td>
      <td >
        {{item.assigned_to}}
      </td>
      <td >
        {{item.reported_by}}
      </td>
      <td >
        {{item.project_id}}
      </td>
      <td >
        {{item.workspace}}
      </td>
    </tr>
    </mdb-tbl-body>
  </mdb-tbl>-->

  <ul class="list-unstyled">
  <li class="media" v-for="(item, index) in issuesList">
    <div class="media-body">
      <router-link :to="{name : 'ViewIssue', params: { issue_id: issuesList[index].issue_id , auth : corpid} }"  @click="viewIssue()"><p style="text-align:left; font-size:24px; margin-top:-50px; margin-bottom:-0px;"> {{item.issue_name}} </p></router-link> <br>
      <span class="type">Description: &nbsp &nbsp &nbsp &nbsp </span> <span class="fields">{{item.issue_description}}</span><br>
      <span class="type">Severity: &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp   </span><span class="fields">{{item.issue_severity}}</span><br>
      <span class="type">Status: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp    </span><span class="fields">{{item.issue_status}}</span><br>
      <router-link :to="{name : 'ViewIssue', params: { issue_id: issuesList[index].issue_id , auth : corpid} }"  @click="viewIssue()"><p style="text-align:left; font-size:20px; margin-top:-100px; margin-bottom:0px; margin-left: 860px;"> View more info >> </p></router-link> 

    </div>
    <hr>
  </li>
</ul>

<center>
<div v-if="issuesList==''">
    There are currently no issues in your workspace !
</div>
</center>
    </div>
  </div>
</center>



 
</body>
</html>

</template>



<script>
import axios from "axios";
import Router from "../main";
import { mdbContainer, mdbCol, mdbRow,mdbBtn,mdbTbl, mdbTblHead, mdbTblBody } from "mdbvue";

export default {
  name: "Dashboard",
  data () {
    return {
      info: null,
      corpid : "",
      workspace: "",
      projectsList: "",
      issuesList: "",
      project_id: "",
      issue_id : ""
    };
  },
  components: {
    mdbContainer,
    mdbRow,
    mdbCol,
    mdbBtn,
    mdbTbl, mdbTblHead, mdbTblBody
  },

  async mounted () {
    if(!this.$route.params.auth)
    {
        this.$router.push('/login');
    }
    else
    {
      console.log(this.$route.params.auth);
      let corpid = this.$route.params.auth;
      this.corpid = this.$route.params.auth;

      let wkspace = await axios({ method: "GET", "url": "http://localhost:4910/v1/workspace",
            "params": {corpid}}).then(result => {
                console.log('Okayyy');
                return result.data;
            }, error => {
                console.log('Error');
                console.error(error);
            });
      this.workspace=wkspace.workspace;
      let workspace = this.workspace;

      let projects = await axios({ method: "GET", "url": "http://localhost:4910/v1/project",
            "params": {workspace}}).then(result => {
                console.log('Okayyy');
                return result.data;
            }, error => {
                console.log('Error');
                console.error(error);
            });
      this.projectsList=projects;

      let issues = await axios({ method: "GET", "url": "http://localhost:4910/v1/issue",
            "params": {workspace}}).then(result => {
                console.log('Okayyy');
                return result.data;
            }, error => {
                console.log('Error');
                console.error(error);
            });
      this.issuesList=issues;

    }

  },
  methods: {
    logout() {
      this.$parent.authenticated = false;
    },
    createProject() {
      console.log('hm');
      this.$router.push({name :'CreateProject', params: {auth : 1}});
    },
    viewProject: function (project_id) {
        console.log('PID ');
        //console.log(this.project_id);
        //let project_id = this.project_id;
        axios({ method: "GET", "url": "http://localhost:4910/v1/project",
            "data": {project_id}}).then(result => {
                console.log('Okayyy');
                console.log(result.data);
            }, error => {
                console.log('Error');
                console.error(error);
            });
      },
    async viewIssue() {
        let issue_id = this.issue_id;
        axios({ method: "GET", "url": "http://localhost:4910/v1/issue",
            "data": {issue_id}}).then(result => {
                console.log('Okayyy');
                console.log(result.data);
            }, error => {
                console.log('Error');
                console.error(error);
            });
      }
  }   
};
</script>

<style scoped>

.container-fluid{
  font-size: 18px;
}

.container {
  font-size: 25px;
}

.navbar-brand {
  margin-left:-500px;
  margin-right: -200px;
}

.navbar-nav-right {
  font-color:white;
  margin-left: 100px;
  margin-right: -600px;
}


.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
  margin-left: -500px;
  margin-right: -300px;
}

.navbar .dropdown-menu a {
  margin-top: 0px;
  font-size: 14px;
}

a {
  margin-right:30px;
}

th {
  font-size: 24px;
}

td {
  font-size: 20px;
}

div {
  font-size: 30px;
}

.panel {
  width: 1100px;
}

.panel-heading {
  height: 50px;
  font-size: 20px;
}

.fields{
  font-weight:100;
  float:left;
  font-size: 20px;
}

.type {
  font-weight:300;
  font-size:20px;
  float:left;
}

</style>
