
<template>
  <div>
  <SideBar/>
  <div class="content bg">
    <header class="content-box">
        <mdb-mask class="d-flex gradient justify-content-center align-items-center">
          <mdb-container>
              <br><br><br><br><br><br><br>
              <mdb-row class="pt-lg-5 mt-lg-5">
                <mdb-col md="6" class="mb-5 mt-md-0 mt-5 black-text text-center text-md-left animated fadeInLeft">
                  <br> <br> <br> <br>
                  <h1 class="display-4 font-weight-bold ">Login - It's free !</h1>
                  <hr class="hr-light">
                  <h6 class="mb-3 ">Whether at work or home, see how simple project management can be with this tool.It is a task management app that gives you a visual overview of what is being worked on and who is working on it.</h6>
                </mdb-col>
                <mdb-col md="6" xl="5" class="mb-4 animated fadeInRight">
                  <mdb-card>
                    <mdb-card-body class="z-depth-2 white">
                      <div class="text-center">
                        <h3 class="dark-grey-text">
                          <br>
                          <strong>Login</strong>
                        </h3>
                      </div>
                      <form @submit.prevent="login">
                      <div class="md-form">
                      <br>
                        <mdb-input required v-model="corpid" type="text" icon="user" iconClass="grey-text" label="Corp ID" id="form-name"/> <br>
                        <mdb-input required v-model="password" type="password" icon="lock" iconClass="grey-text" label="Password" id="form-email"/> <br>
                      </div>
                      <div class="text-center mt-3">
                        <mdb-btn color="primary" type="submit">Login</mdb-btn>
                        <br><br>
                      <mdb-alert color="danger" v-if="valid!=true" @closeAlert="p1=false" dismiss>
                        <strong>Invalid!</strong> Your password or Corp ID is invalid
                  </mdb-alert>
                      </div>
                      </form>
                      
                    </mdb-card-body>
                  </mdb-card>
                </mdb-col>
              </mdb-row>
          </mdb-container>
        </mdb-mask>
    </header>
  </div>
  </div>
</template>

<script>
  import SideBar from '../components/SideBar';
  import axios from "axios";
import Router from "../main";
  import { mdbNavbar, mdbNavbarToggler, mdbNavbarNav, mdbNavItem, mdbInput, mdbTextarea, mdbView, mdbMask, mdbRow, mdbCol, mdbContainer, mdbBtn, mdbCard, mdbCardBody, mdbNavbarBrand, mdbAlert } from 'mdbvue';

  export default {
    name: 'Login',
    data(){
      return {
        corpid : "",
        password : "",
        valid:true
      }
    },
    components: {
      mdbNavbar,
      mdbNavbarToggler,
      mdbNavbarNav,
      mdbNavItem,
      mdbInput,
      mdbTextarea,
      mdbView,
      mdbMask,
      mdbRow,
      mdbCol,
      mdbContainer,
      mdbBtn,
      mdbCard,
      mdbCardBody,
      mdbNavbarBrand,
      SideBar,
      mdbAlert
    },
    methods: {
      login: function () {
        let corpid = this.corpid;
        let password = this.password;
        let auth = axios({ method: "POST", "url": "http://localhost:4910/validate",
            "data": {corpid, password} }).then(result => {
                console.log(result.data);
                return result.data;
            }, error => {
                console.error(error);
                return error;
          }).then(result => {
                if(result==true)
                {
                  console.log('validated');
                  this.$router.push({name :'Dashboard', params: {auth : corpid}});
                }
                else
                {
                  this.valid = false;
                }
          });
      }
    }
  }
</script>
<style scoped>
.side-content {
  font-color:black;
}

.content {
  margin-top:-40px;
}

.bg {
  
  background-image: url("https://mdbootstrap.com/img/Photos/Others/architecture.jpg");

  /* Full height */
  height: 920px;  

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gradient {
    background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.7)));
    background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    height: 920px;
  }

.navbar-inverse .navbar-brand {
  margin-left:500px;
  margin-right: -200px;
  color: white;
  font-size:26px;
  font-weight:100;
}

.navbar-nav-right {
  font-color:white;
  margin-left: 1200px;
}

.mdb-card {
  background-color: white;
}

.md-form .prefix {
  font-size: 5rem;
  margin-left:10px
}

.md-form .prefix ~ label {
  margin-left: 7.5rem;
}

.md-form label {
  font-size:1.3rem;
}

.md-form .prefix ~ input {
  margin-left: 4.5rem;
  width: 300px;
}

.card {
  width: 400px;
}
</style>
