<template>
<html>
<head>
  <title> Home </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">BugsBuddy</a>
    </div>
    <ul class="nav navbar-nav-right nav-pills">
      <router-link :to="{name: 'Dashboard', params: {auth : this.$route.params.auth}}">Home</router-link>
      <router-link :to="{name: 'CreateProject', params: {auth : this.$route.params.auth}}">Create a Project</router-link>
      <router-link :to="{name: 'CreateIssue', params: {auth : this.$route.params.auth}}">Raise an Issue</router-link>
      <router-link :to="{name: 'ViewIssuesAssigned', params: {auth : this.$route.params.auth}}">Assigned Issues</router-link>
      <router-link :to="{name: 'ViewIssuesReported', params: {auth : this.$route.params.auth}}">Reported Issues</router-link>
      <router-link :to="{name: 'SearchProjects', params: {auth : this.$route.params.auth}}">Search Projects</router-link>
      <router-link :to="{name: 'SearchIssues', params: {auth : this.$route.params.auth}}">Search Issues</router-link>      
      <router-link to="/logout" v-on:click.native="logout()"><button class="btn btn-danger navbar-btn">Logout</button></router-link>
      
    </ul>
  </div>
</nav>
<center>

<div class="panel panel-primary">
  <div class="panel-heading">Projects</div>
  <div class="panel-body">
  <div>
  <input type="text" v-model="projectQuery" class="form-control" placeholder="Project Name" style="margin-right:700px;margin-top:40px"> 
  <input type="text" v-model="descriptionQuery" class="form-control" placeholder="Project Description" style="margin-right:300px; margin-top:-33px"> 
  <input type="text" v-model="managerQuery" class="form-control" placeholder="Project Manager" style="margin-right:-100px;margin-top:-33px"> 
  <input type="text" v-model="workspaceQuery" class="form-control" placeholder="Workspace" style="margin-right:-500px;margin-top:-33px"> 
  <center>
  <div>
    <br>
  <label style="font-size: 18px; font-weight:100">Project Type</label><select class="custom-select custom-select-lg mb-3" v-model="typeQuery"> 
    <optgroup label = "Project Type" selected>
      <option value ="">None</option>
      <option value ="Software">Software</option>
      <option value ="Business">Business</option>
    </optgroup>
  </select>
  </div>
  </center>
<br>

  </div>
  <ul class="list-unstyled">
  <div v-if="filterItems(projectsList).length">
  <li class="media" v-for="(item, index) in filterItems(projectsList)">
    <div class="media-body">
      <router-link :to="{name : 'ViewProject', params: { project_id: projectsList[index].project_id , auth : corpid} }"  @click="viewProject(item.project_id)"><p style="text-align:left; font-size:24px; margin-top:-50px; margin-bottom:-0px;"> {{item.project_name}} </p></router-link> <br>
      <span class="type">Description: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</span> <span class="fields">{{item.project_description}}</span><br>
      <span class="type">Project Type: &nbsp &nbsp &nbsp &nbsp &nbsp</span> <span class="fields">{{item.project_type}}</span><br>      
      <span class="type">Project Manager: &nbsp &nbsp  </span> <span class="fields">{{item.project_manager}}</span><br>
      <span class="type">Workspace: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</span> <span class="fields">{{item.workspace}}</span><br>
      <router-link :to="{name : 'ViewProject', params: { project_id: projectsList[index].project_id , auth : corpid} }"  @click="viewIssue()"><p style="text-align:left; font-size:20px; margin-top:-100px; margin-bottom:0px; margin-left: 860px;"> View more info >> </p></router-link> 
    </div>
    <hr>
  </li>
  </div>
  <div v-else style="font-weight:100; font-size:20px; color:red">
      No matching projects found
  </div>
</ul>
<center>
<div v-if="projectsList==''">
    There are currently no projects in your workspace !
</div>
</center>

    </div>
  </div>
</center>
<br> <br>
</body>
</html>

</template>



<script>
import axios from "axios";
import Router from "../main";
import { mdbContainer, mdbCol, mdbRow,mdbBtn,mdbTbl, mdbTblHead, mdbTblBody } from "mdbvue";

export default {
  name: "Dashboard",
  data () {
    return {
      info: null,
      corpid : "",
      workspace: "",
      projectsList: "",
      project_id: "",
      issue_id : "",
      projectQuery : "",
      descriptionQuery : "",
      searchQuery : "",
      managerQuery : "",
      workspaceQuery : "",
      typeQuery : ""
    };
  },
  components: {
    mdbContainer,
    mdbRow,
    mdbCol,
    mdbBtn,
    mdbTbl, mdbTblHead, mdbTblBody
  },

  async mounted () {
    if(!this.$route.params.auth)
    {
        this.$router.push('/login');
    }
    else
    {
      console.log(this.$route.params.auth);
      let corpid = this.$route.params.auth;
      this.corpid = this.$route.params.auth;

      let projects = await axios({ method: "GET", "url": "http://localhost:4910/v1/project",
            "params": {}}).then(result => {
                console.log('Okayyy');
                return result.data;
            }, error => {
                console.log('Error');
                console.error(error);
            });
      this.projectsList=projects;

    }

  },
  methods: {
    logout() {
      this.$parent.authenticated = false;
    },
    createProject() {
      console.log('hm');
      this.$router.push({name :'CreateProject', params: {auth : 1}});
    },
    viewProject: function (project_id) {
        console.log('PID ');
        axios({ method: "GET", "url": "http://localhost:4910/v1/project",
            "data": {}}).then(result => {
                console.log('Okayyy');
                console.log(result.data);
            }, error => {
                console.log('Error');
                console.error(error);
            });
      },
    filterItems: function(projectsList) {
      var app = this;
      return projectsList.filter(function(projectsList) {
        let regex_name = new RegExp('(' + app.projectQuery + ')', 'i');
        let regex_description = new RegExp('(' + app.descriptionQuery + ')', 'i');
        let regex_manager = new RegExp('(' + app.managerQuery + ')', 'i');
        let regex_workspace = new RegExp('(' + app.workspaceQuery + ')', 'i');
        let regex_type = new RegExp('(' + app.typeQuery + ')', 'i');

        return projectsList.project_name.match(regex_name) && projectsList.project_description.match(regex_description) && projectsList.project_manager.match(regex_manager) && projectsList.workspace.match(regex_workspace) && projectsList.project_type.match(regex_type);
      })
    }
  }   
};
</script>

<style scoped>

.container-fluid{
  font-size: 18px;
}

.container {
  font-size: 25px;
}

.navbar-brand {
  margin-left:-500px;
  margin-right: -200px;
}

.navbar-nav-right {
  font-color:white;
  margin-left: 100px;
  margin-right: -600px;
}


.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
  margin-left: -500px;
  margin-right: -300px;
}

.navbar .dropdown-menu a {
  margin-top: 0px;
  font-size: 14px;
}

a {
  margin-right:30px;
}

th {
  font-size: 24px;
}

td {
  font-size: 20px;
}

div {
  font-size: 30px;
}

.panel {
  width: 1100px;
}

.panel-heading {
  height: 50px;
  font-size: 20px;
}

.fields{
  font-weight:100;
  float:left;
  font-size: 20px;
}

.type {
  font-weight:300;
  font-size:20px;
  float:left;
}

.form-control {
  width:140px;
}

select {
  font-size: 18px;
  width:150px;
}

</style>
