<template>
<html>
<head>
  <title> Home </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">BugsBuddy</a>
    </div>
    <ul class="nav navbar-nav-right nav-pills">
      <router-link :to="{name: 'Dashboard', params: {auth : this.$route.params.auth}}">Home</router-link>
      <router-link :to="{name: 'CreateProject', params: {auth : this.$route.params.auth}}">Create a Project</router-link>
      <router-link :to="{name: 'CreateIssue', params: {auth : this.$route.params.auth}}">Raise an Issue</router-link>
      <router-link :to="{name: 'ViewIssuesAssigned', params: {auth : this.$route.params.auth}}">Assigned Issues</router-link>
      <router-link :to="{name: 'ViewIssuesReported', params: {auth : this.$route.params.auth}}">Reported Issues</router-link>
      <router-link :to="{name: 'SearchProjects', params: {auth : this.$route.params.auth}}">Search Projects</router-link>
      <router-link :to="{name: 'SearchIssues', params: {auth : this.$route.params.auth}}">Search Issues</router-link>      
      <router-link to="/logout" v-on:click.native="logout()"><button class="btn btn-danger navbar-btn">Logout</button></router-link>
      
    </ul>
  </div>
</nav>
<center>

<div class="panel panel-primary">
  <div class="panel-heading">Issues</div>
  <div class="panel-body">
  <div>
  <input type="text" v-model="issueQuery" class="form-control" placeholder="Issue Name" style="margin-right:700px;margin-top:40px"> 
  <input type="text" v-model="descriptionQuery" class="form-control" placeholder="Issue Description" style="margin-right:300px; margin-top:-33px"> 
  <input type="text" v-model="assignedQuery" class="form-control" placeholder="Assignee" style="margin-right:-100px;margin-top:-33px"> 
  <input type="text" v-model="reportedQuery" class="form-control" placeholder="Reportee" style="margin-right:-600px;margin-top:-35px"> <br>
  <center>
  <div style="margin-left:0px;margin-top:-24px">
    <label style="margin-right:0px; font-size: 18px; font-weight:100">Issue Status</label>
    <select class="custom-select custom-select-lg mb-3" v-model="statusQuery" >
      <option selected disabled>Issue Status</option>
        <option value ="">None</option>
        <option value ="Open">Open</option>
        <option value ="In Progress">In Progress</option>
        <option value ="Peer Code Review">Peer Code Review</option>
        <option value ="Reopened">Reopened</option>
        <option value ="In QA">In QA</option>
        <option value ="Resolved">Resolved</option>
      </optgroup>
    </select>
  </div>
  </center>
  <center>
  <div>
    <label style="font-size: 18px; font-weight:100">Issue Severity</label>
    <select class="browser-default custom-select custom-select-lg mb-3" v-model="severityQuery" >
      <option selected disabled>Issue Severity &nbps &nbsp </option>
      <option value ="">None</option>
      <option value ="P0">P0</option>
      <option value ="P1">P1</option>
      <option value ="P2">P2</option>
      <option value ="P3">P3</option>
      </optgroup>
    </select>
  </div>
  </center>

  </div>
  <ul class="list-unstyled">
    <div v-if="filterItems(issuesList).length">
  <li class="media" v-for="(item, index) in filterItems(issuesList)">
    <div class="media-body">
      <router-link :to="{name : 'ViewProject', params: { issue_id: issuesList[index].issue_id , auth : corpid} }"  @click="viewIssue(item.issue_id)"><p style="text-align:left; font-size:24px; margin-top:-50px; margin-bottom:-0px;"> {{item.issue_name}} </p></router-link> <br>
      <span class="type">Description: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</span> <span class="fields">{{item.issue_description}}</span><br>
      <span class="type">Issue Status: &nbsp &nbsp &nbsp &nbsp &nbsp</span> <span class="fields">{{item.issue_status}}</span><br>   
      <span class="type">Issue Severity: &nbsp &nbsp &nbsp &nbsp &nbsp</span> <span class="fields">{{item.issue_severity}}</span><br>   
      <span class="type">Assigned To: &nbsp &nbsp  </span> <span class="fields">{{item.assigned_to}}</span><br>
      <span class="type">Reported By: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</span> <span class="fields">{{item.reported_by}}</span><br>
      <router-link :to="{name : 'ViewIssue', params: { issue_id: issuesList[index].issue_id , auth : corpid} }"  @click="viewIssue()"><p style="text-align:left; font-size:20px; margin-top:-100px; margin-bottom:0px; margin-left: 860px;"> View more info >> </p></router-link> 
    </div>
    <hr>
  </li>
  </div>
  <div v-else style="font-weight:100; font-size:20px; color:red">
      <br>No matching issues found
  </div>
</ul>
<center>
<div v-if="issuesList==''">
    There are currently no issues listed !
</div>
</center>

    </div>
  </div>
</center>
<br> <br>
</body>
</html>

</template>



<script>
import axios from "axios";
import Router from "../main";
import { mdbContainer, mdbCol, mdbRow,mdbBtn,mdbTbl, mdbTblHead, mdbTblBody } from "mdbvue";

export default {
  name: "Dashboard",
  data () {
    return {
      info: null,
      corpid : "",
      workspace: "",
      projectsList: "",
      project_id: "",
      issue_id : "",
      issueQuery : "",
      descriptionQuery : "",
      searchQuery : "",
      statusQuery : "",
      severityQuery: "",
      workspaceQuery : "",
      typeQuery : "",
      assignedQuery : "",
      reportedQuery : "",
      issuesList : ""
    };
  },
  components: {
    mdbContainer,
    mdbRow,
    mdbCol,
    mdbBtn,
    mdbTbl, mdbTblHead, mdbTblBody
  },

  async mounted () {
    if(!this.$route.params.auth)
    {
        this.$router.push('/login');
    }
    else
    {
      console.log(this.$route.params.auth);
      let corpid = this.$route.params.auth;
      this.corpid = this.$route.params.auth;

      let issues = await axios({ method: "GET", "url": "http://localhost:4910/v1/issue",
            "params": {}}).then(result => {
                console.log('Okayyy');
                return result.data;
            }, error => {
                console.log('Error');
                console.error(error);
            });
      this.issuesList=issues;
    }

  },
  methods: {
    logout() {
      this.$parent.authenticated = false;
    },
    filterItems: function(issuesList) {
      var app = this;
      return issuesList.filter(function(issuesList) {
        let regex_name = new RegExp('(' + app.issueQuery + ')', 'i');
        let regex_description = new RegExp('(' + app.descriptionQuery + ')', 'i');
        let regex_assigned = new RegExp('(' + app.assignedQuery + ')', 'i');
        let regex_reported = new RegExp('(' + app.reportedQuery + ')', 'i');
        let regex_severity = new RegExp('(' + app.severityQuery + ')', 'i');
        let regex_status = new RegExp('(' + app.statusQuery + ')', 'i');

        return issuesList.issue_name.match(regex_name) && issuesList.issue_description.match(regex_description) && issuesList.assigned_to.match(regex_assigned) && issuesList.reported_by.match(regex_reported) && issuesList.issue_severity.match(regex_severity) && issuesList.issue_status.match(regex_status);
      })
    }
  }   
};
</script>

<style scoped>

.container-fluid{
  font-size: 18px;
}

.container {
  font-size: 25px;
}

.navbar-brand {
  margin-left:-500px;
  margin-right: -200px;
}

.navbar-nav-right {
  font-color:white;
  margin-left: 100px;
  margin-right: -600px;
}


.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
  margin-left: -500px;
  margin-right: -300px;
}

.navbar .dropdown-menu a {
  margin-top: 0px;
  font-size: 14px;
}

a {
  margin-right:30px;
}

th {
  font-size: 24px;
}

td {
  font-size: 20px;
}

div {
  font-size: 30px;
}

.panel {
  width: 1100px;
}

.panel-heading {
  height: 50px;
  font-size: 20px;
}

.fields{
  font-weight:100;
  float:left;
  font-size: 20px;
}

.type {
  font-weight:300;
  font-size:20px;
  float:left;
}

.form-control {
  width:140px;
}

select {
  font-size: 18px;
  width:150px;
}
</style>
