<template>
<html>
<head>
  <title> Home </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">BugsBuddy</a>
    </div>
    <ul class="nav navbar-nav-right nav-pills">
      <router-link to="/login"><button class="btn btn-success navbar-btn">Login</button></router-link>
      <router-link to="/signup"><button class="btn btn-danger navbar-btn">Sign Up</button></router-link>
    </ul>
  </div>
</nav>
  
<div class="container">
  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3></h3>
      <p></p>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3></h3>
      <p></p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3></h3>
      <p></p>
    </div>
    <div id="menu3" class="tab-pane fade">
      <h3></h3>
      <p></p>
    </div>
  </div>
</div>

</body>
</html>

</template>



<script>
import axios from "axios";
import { mdbContainer, mdbCol, mdbRow,mdbBtn } from "mdbvue";

export default {
  name: "SideBar",
  data () {
    return {
      info: null,
    };
  },
  components: {
    mdbContainer,
    mdbRow,
    mdbCol,
    mdbBtn
  }  
};
</script>

<style scoped>

.container-fluid{
  font-size: 18px;
}

.container {
  font-size: 25px;
}

.navbar-inverse .navbar-brand {
  margin-left:500px;
  margin-right: -200px;
  color: white;
  font-size:26px;
  font-weight:100;
}

.navbar-nav-right {
  font-color:white;
  margin-left: 1200px;
}


.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
  margin-left: 300px;
}

</style>
