<template>
<html>
<head>
  <title> Home </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">BugsBuddy</a>
    </div>
    <ul class="nav navbar-nav-right nav-pills">
      <router-link :to="{name: 'Dashboard', params: {auth : this.$route.params.auth}}">Home</router-link>
      <router-link :to="{name: 'CreateProject', params: {auth : this.$route.params.auth}}">Create a Project</router-link>
      <router-link :to="{name: 'CreateIssue', params: {auth : this.$route.params.auth}}">Raise an Issue</router-link>
      <router-link :to="{name: 'ViewIssuesAssigned', params: {auth : this.$route.params.auth}}">Assigned Issues</router-link>
      <router-link :to="{name: 'ViewIssuesReported', params: {auth : this.$route.params.auth}}">Reported Issues</router-link>
      <router-link :to="{name: 'SearchProjects', params: {auth : this.$route.params.auth}}">Search Projects</router-link>
      <router-link :to="{name: 'SearchIssues', params: {auth : this.$route.params.auth}}">Search Issues</router-link>      
      <router-link to="/logout" v-on:click.native="logout()"><button class="btn btn-danger navbar-btn">Logout</button></router-link>
    </ul>
  </div>
</nav>
<br> <br> <br>
<center>
<div class="panel panel-primary">
  <div class="panel-heading">Issues reported by you </div>
  <div class="panel-body">
<mdb-tbl v-if="data!=''">
      <mdb-tbl-head>
      <tr>
      <th> Issue ID</th>
      <th> Issue Name </th>
      <th> Issue Description </th>
      <th> Issue Severity </th>
      <th> Issue Status </th>
      <th> Assigned To </th>
      <th> Reported By </th>
      <th> Project ID </th>
      <th> Workspace </th>
      </tr>
    </mdb-tbl-head>
    <mdb-tbl-body>
    <tr v-for="(item,index) in issuesList">
      <td>
        <router-link :to="{name : 'ViewIssue', params: { issue_id: issuesList[index].issue_id , auth : corpid} }"  @click="viewIssue()">{{item.project_id}}</router-link>
      </td>
      <td >
        {{item.issue_name}}
      </td>
      <td >
        {{item.issue_description}}
      </td>
      <td >
        {{item.issue_severity}}
      </td>
      <td >
        {{item.issue_status}}
      </td>
      <td >
        {{item.assigned_to}}
      </td>
      <td >
        {{item.reported_by}}
      </td>
      <td >
        {{item.project_id}}
      </td>
      <td >
        {{item.workspace}}
      </td>
    </tr>
    </mdb-tbl-body>
</mdb-tbl>


<div v-if="data==''">
    There are currently no bugs reported by you!
</div>
</div> </div></center>

</body>
</html>
</template>



<script>
import axios from "axios";
import Router from "../main";

  import { mdbInput,mdbBtn,mdbCard,mdbCardBody, mdbTextarea, mdbToastNotification, mdbAlert, mdbTbl, mdbTblHead, mdbTblBody, mdbDatatable } from "mdbvue";
  export default {
    name: 'ViewProject',
    components: {
      mdbInput,
      mdbBtn,
      mdbCard,
      mdbCardBody,
      mdbTextarea,
      mdbToastNotification,
      mdbAlert,
      mdbTbl, 
      mdbTblHead, 
      mdbTblBody,
      mdbDatatable 
    },

    data() {
      return {
        issuesList : "",
        corpid : "",
        data : ""
      }
    },

    async mounted () {
    if(!this.$route.params.auth)
    {
        this.$router.push('/login');
    }
    else
    {
      console.log(this.$route.params.auth);
      let corpid = this.$route.params.auth;
      this.corpid = this.$route.params.auth;

        let result = await axios({ method: "GET", "url": "http://localhost:4910/v1/issue",
            "params": {corpid, action : "reported"}}).then(result => {
                console.log('Okayyy');
                console.log(result.data[0]);
                return result.data;
            }, error => {
                console.error(error);
                return error;
          }).then(result => {
              this.issuesList = result;
              this.data = result;
      });
    }
    },

  methods: {
    async viewIssue() {
        console.log(this.project_id);
        let issue_id = this.issue_id;
        axios({ method: "GET", "url": "http://localhost:4910/v1/issue",
            "params": {issue_id}}).then(result => {
                console.log(result.data);
            }, error => {
                console.log('Error');
                console.error(error);
            });
      }
  }

  }
</script>
<style scoped>

.container-fluid{
  font-size: 18px;
}

.container {
  font-size: 25px;
}

.navbar-brand {
  margin-left:-500px;
  margin-right: -200px;
}

.navbar-nav-right {
  font-color:white;
  margin-left: 100px;
  margin-right: -600px;
}


.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
  margin-left: -500px;
  margin-right: -300px;
}

.navbar .dropdown-menu a {
  margin-top: 0px;
  font-size: 14px;
}

.card {
  max-width:700px;
  margin-top: 150px;
  margin-left:450px;
}

.md-form label {
  font-size: 4em;
}

.md-form .prefix {
  font-size: 3em;
  left:1em;
}

.toast {
  font-size:30px;
  margin-left:100px;
}

table td{
  font-size: 22px;
}

.panel-title {
  font-size: 24px;
  text-align: center;
}

.panel-heading {
  width:1200px;
  background-color:#337ab7;
  color: white;
  font-weight:100px;
}

.panel-default > .panel-heading {
  background-color:#337ab7;
  border-color: black;
  color:white;
}

.panel {
  width:1200px;
}


th {
  font-size: 20px;
}

div {
  font-size: 30px;
}

a {
  margin-right:30px;
}

.panel-heading {
  height: 50px;
  font-size: 20px;
}
</style>
