<template>
<html>
<head>
  <title> Home </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">BugsBuddy</a>
    </div>
    <ul class="nav navbar-nav-right nav-pills">
      <router-link :to="{name: 'Dashboard', params: {auth : this.$route.params.auth}}">Home</router-link>
      <router-link :to="{name: 'CreateProject', params: {auth : this.$route.params.auth}}">Create a Project</router-link>
      <router-link :to="{name: 'CreateIssue', params: {auth : this.$route.params.auth}}">Raise an Issue</router-link>
      <router-link :to="{name: 'ViewIssuesAssigned', params: {auth : this.$route.params.auth}}">Issues assigned</router-link>
      <router-link :to="{name: 'ViewIssuesReported', params: {auth : this.$route.params.auth}}">Issues reported</router-link>
      <router-link :to="{name: 'SearchProjects', params: {auth : this.$route.params.auth}}">Search Projects</router-link>
      <router-link :to="{name: 'SearchIssues', params: {auth : this.$route.params.auth}}">Search Issues</router-link>            
      <router-link to="/logout" v-on:click.native="logout()"><button class="btn btn-danger navbar-btn">Logout</button></router-link>
    </ul>
  </div>
</nav>

<center>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        View Project Details</a>
      </h1>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body" id="tblContent">
      <form @submit.prevent="updateProject">
      <mdb-tbl>
      <mdb-tbl-head>
        <tr>
          <td>Project ID</td>
          <td> {{project_id}} </td>
        </tr>
      </mdb-tbl-head>
      <mdb-tbl-body>
        <tr>
          <td>Project Name </td>
          <td>
              <div v-if="!editing_name">
              <span class='text' @click="enableEditingName" v-model="project_name">{{ project_name}}</span>
              </div>
              <div v-if="editing_name">
                <input v-model="temp_name" class="input"/>
                <button @click="disableEditingName"> Cancel </button>
                <button @click="saveEditName"> Save </button>
              </div>
          </td>
        </tr>
        <tr>
          <td>Project Description</td>
          <td>
              <div v-if="!editing_description">
              <span class='text' @click="enableEditingDescription" v-model="project_description">{{ project_description}}</span>
              </div>
              <div v-if="editing_description">
                <input v-model="temp_description" class="input"/>
                <button @click="disableEditingDescription"> Cancel </button>
                <button @click="saveEditDescription"> Save </button>
              </div>
          </td>
        </tr>
        <tr>
          <td>Project Type</td>
          <td>
              <div v-if="!editing_type">
              <span class='text' @click="enableEditingType" v-model="project_type">{{ project_type}}</span>
              </div>
              <div v-if="editing_type">
                <select class="browser-default custom-select custom-select-lg mb-3" v-model="temp_type">
                  <optgroup label = "Project Type">
                  <option value ="Software">Software</option>
                  <option value ="Business">Business</option>
                </optgroup>
              </select>
                <button @click="disableEditingType"> Cancel </button>
                <button @click="saveEditType"> Save </button>
              </div>
          </td>
        </tr>
        <tr>
          <td>Project Manager</td>
          <td>
              <div v-if="!editing_manager">
              <span class='text' @click="enableEditingManager" v-model="project_manager">{{ project_manager}}</span>
              </div>
              <div v-if="editing_manager">
                <input v-model="temp_manager" class="input"/>
                <button @click="disableEditingManager"> Cancel </button>
                <button @click="saveEditManager"> Save </button>
              </div>
          </td>
        </tr>
        <tr>
          <td>Workspace</td>
          <td>
              <div v-if="!editing_workspace">
              <span class='text' @click="enableEditingWorkspace" v-model="workspace">{{ workspace}}</span>
              </div>
              <div v-if="editing_workspace">
                <input v-model="temp_workspace" class="input"/>
                <button @click="disableEditingWorkspace"> Cancel </button>
                <button @click="saveEditWorkspace"> Save </button>
              </div>
          </td>
        </tr>
      </mdb-tbl-body>
    </mdb-tbl>
    <div v-if="edit" class="text-center py-4 mt-3"><br>
      <mdb-btn color="blue" type="submit">Update Project</mdb-btn><br>
    </div>
    </form>
    </div>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body"></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        View Issues under the Project</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
        <mdb-tbl v-if="issuesList.length!=0">
      <mdb-tbl-head>
      <tr>
      <th> Issue ID</th>
      <th> Issue Name </th>
      <th> Issue Description </th>
      <th> Issue Severity </th>
      <th> Issue Status </th>
      <th> Assigned To </th>
      <th> Reported By </th>
      <th> Project ID </th>
      <th> Workspace </th>
      </tr>
    </mdb-tbl-head>
    <mdb-tbl-body>
    <tr v-for="item in issuesList">
      <td>
        {{item.issue_id}}
      </td>
      <td >
        {{item.issue_name}}
      </td>
      <td >
        {{item.issue_description}}
      </td>
      <td >
        {{item.issue_severity}}
      </td>
      <td >
        {{item.issue_status}}
      </td>
      <td >
        {{item.assigned_to}}
      </td>
      <td >
        {{item.reported_by}}
      </td>
      <td >
        {{item.project_id}}
      </td>
      <td >
        {{item.workspace}}
      </td>
    </tr>
    </mdb-tbl-body>
  </mdb-tbl>

<div v-if="issuesList.length==0">
    There are currently no issues under the project !
</div>
      </div>
    </div>
  </div>
  </div>
</div>
</center>


</body>
</html>
</template>



<script>
import axios from "axios";
import Router from "../main";

  import { mdbInput,mdbBtn,mdbCard,mdbCardBody, mdbTextarea, mdbToastNotification, mdbAlert, mdbTbl, mdbTblHead, mdbTblBody} from "mdbvue";
  export default {
    name: 'ViewProject',
    components: {
      mdbInput,
      mdbBtn,
      mdbCard,
      mdbCardBody,
      mdbTextarea,
      mdbToastNotification,
      mdbAlert,
      mdbTbl, 
      mdbTblHead, 
      mdbTblBody
    },

    data() {
      return {
        project_name: "",
        project_description: "",
        project_manager: "",
        project_type: "",
        project_id: "",
        workspace : "",
        issue_array : [],
        issuesList: "",

        temp_name: null,
        temp_description: null,
        temp_type: null,
        temp_manager: null,
        temp_workspace : null,

        edit : false,
        editing_name: false,
        editing_description : false,
        editing_type: false,
        editing_manager : false,
        editing_workspace : false
      }
    },

    mounted () {
    if(!this.$route.params.auth)
    {
        this.$router.push('/login');
    }
    else
      console.log(this.$route.params.auth);

  },

    methods: {
    enableEditingType: function(){
      this.temp_type = this.project_type;
      this.editing_type = true;
    },
    enableEditingManager: function(){
      this.temp_manager = this.project_manager;
      this.editing_manager = true;
    },
    enableEditingName: function(){
      this.temp_name = this.project_name;
      this.editing_name = true;
    },
    enableEditingDescription: function(){
      this.temp_description = this.project_description;
      this.editing_description = true;
    },
    enableEditingWorkspace: function(){
      this.temp_workspace = this.workspace;
      this.editing_workspace = true;
    },

    disableEditingName: function(){
      this.temp_name = null;
      this.editing_name = false;
    },
    disableEditingDescription: function(){
      this.temp_description = null;
      this.editing_description = false;
    },
    disableEditingType: function(){
      this.temp_type = null;
      this.editing_type = false;
    },
    disableEditingManager: function(){
      this.temp_manager = null;
      this.editing_manager = false;
    },
    disableEditingWorkspace: function(){
      this.temp_workspace = null;
      this.editing_workspace = false;
    },

    saveEditType: function(){
      this.project_type = this.temp_type;
      this.disableEditingType();
      this.edit = true;
    },
    saveEditName: function(){
      this.project_name = this.temp_name;
      this.disableEditingName();
      this.edit = true;
    },
    saveEditDescription: function(){
      this.project_description = this.temp_description;
      this.disableEditingDescription();
      this.edit = true;
    },
    saveEditManager: function(){
      this.project_manager= this.temp_manager;
      this.disableEditingManager();
      this.edit = true;
    },

    saveEditWorkspace: function(){
      this.workspace= this.temp_workspace;
      this.disableEditingWorkspace();
      this.edit = true;
    },

    updateProject : function() {
      console.log('Inside Update');
      let project_id = this.project_id;
      let project_name = this.project_name;
      let project_description = this.project_description;
      let project_manager = this.project_manager;
      let project_type = this.project_type;
      let workspace = this.workspace;
 
      let result = axios({ method: "PUT", "url": "http://localhost:4910/v1/project",
            "data": {project_id, project_name, project_description, project_type, project_manager, workspace} }).then(result => {
                console.log('Okayyy');
                console.log(result.data);
                return result.data[0];
            }, error => {
                console.error(error);
                return error;
          }).then(result => {
                this.project_name = result.project_name;
                this.project_description = result.project_description;
                this.project_type = result.project_type;
                this.project_manager = result.project_manager;
                this.project_id = result.project_id;
                this.workspace= result.workspace;
          });
    }
  },

    async mounted() {
        console.log('View projjj '+this.$route.params.project_id);
        this.project_id = this.$route.params.project_id;
        let project_id = this.project_id;
        let result = await axios({ method: "GET", "url": "http://localhost:4910/v1/project",
            "params": {project_id}}).then(result => {
                console.log('Okayyy');
                console.log(result.data);
                return result.data[0];
            }, error => {
                console.error(error);
                return error;
          }).then(result => {
                this.project_id = result.project_id;
                this.project_name = result.project_name;
                this.project_description = result.project_description;
                this.project_manager = result.project_manager;
                this.project_type = result.project_type;
                this.workspace = result.workspace;
          });

          let issuesList = await axios({ method: "GET", "url": "http://localhost:4910/v1/issue",
            "params": {project_id}}).then(result => {
                console.log('Okayyy');
                console.log(result.data);
                return result.data;
            }, error => {
                console.error(error);
                return error;
          }).then(result => {
                this.issuesList = result;
          })
      }

  }

</script>

<style scoped>

.container-fluid{
  font-size: 18px;
}

.container {
  font-size: 25px;
}

.navbar-brand {
  margin-left:-500px;
  margin-right: -200px;
}

.navbar-nav-right {
  font-color:white;
  margin-left: 100px;
  margin-right: -600px;
}


.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
  margin-left: -500px;
  margin-right: -300px;
}

.navbar .dropdown-menu a {
  margin-top: 0px;
  font-size: 14px;
}

.card {
  max-width:700px;
  margin-top: 150px;
  margin-left:450px;
}

.md-form label {
  font-size: 4em;
}

.md-form .prefix {
  font-size: 3em;
  left:1em;
}

.toast {
  font-size:30px;
  margin-left:100px;
}

table td{
  font-size: 22px;
}

.panel-title {
  font-size: 24px;
  text-align: center;
}

.panel-heading {
  width:1000px;
  background-color:#337ab7;
  color: white;
  font-weight:100px;
}

.panel-default > .panel-heading {
  background-color:#337ab7;
  border-color: black;
  color:white;
}

.panel {
  width:1000px;
}

a {
  margin-right:30px;
}
</style>
