<template>
<html>
<head>
  <title> Home </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">BugsBuddy</a>
    </div>
    <ul class="nav navbar-nav-right nav-pills">
      <router-link :to="{name: 'Dashboard', params: {auth : this.$route.params.auth}}">Home</router-link>
      <router-link :to="{name: 'CreateProject', params: {auth : this.$route.params.auth}}">Create a Project</router-link>
      <router-link :to="{name: 'CreateIssue', params: {auth : this.$route.params.auth}}">Raise an Issue</router-link>
      <router-link :to="{name: 'ViewIssuesAssigned', params: {auth : this.$route.params.auth}}">Assigned Issues</router-link>
      <router-link :to="{name: 'ViewIssuesReported', params: {auth : this.$route.params.auth}}">Reported Issues</router-link>
      <router-link :to="{name: 'SearchProjects', params: {auth : this.$route.params.auth}}">Search Projects</router-link>
      <router-link :to="{name: 'SearchIssues', params: {auth : this.$route.params.auth}}">Search Issues</router-link>
      <router-link to="/logout" v-on:click.native="logout()"><button class="btn btn-danger navbar-btn">Logout</button></router-link>
    </ul>
  </div>
</nav>

<center>
<div class="panel panel-primary">
  <div class="panel-heading">Issue Details</div>
  <div class="panel-body">
    <form @submit.prevent="updateIssue">
    <mdb-tbl>
      <mdb-tbl-head>
        <tr>
          <td>Issue ID</td>
          <td> {{issue_id}} </td>
        </tr>
        <tr>
          <td>Project ID</td>
          <td> {{project_id}} </td>
        </tr>
      </mdb-tbl-head>
      <mdb-tbl-body>
        <tr>
          <td>Issue Name </td>
          <td>
              <div v-if="!editing_name">
              <span class='text' @click="enableEditingName" v-model="issue_name">{{ issue_name}}</span>
              </div>
              <div v-if="editing_name">
                <input v-model="temp_name" class="input"/>
                <button @click="disableEditingName"> Cancel </button>
                <button @click="saveEditName"> Save </button>
              </div>
          </td>
        </tr>
        <tr>
          <td>Issue Description</td>
          <td>
              <div v-if="!editing_description">
              <span class='text' @click="enableEditingDescription" v-model="issue_description">{{ issue_description}}</span>
              </div>
              <div v-if="editing_description">
                <input v-model="temp_description" class="input"/>
                <button @click="disableEditingDescription"> Cancel </button>
                <button @click="saveEditDescription"> Save </button>
              </div>
          </td>
        </tr>
        <tr>
          <td>Issue Severity</td>
          <td>
              <div v-if="!editing_severity">
              <span class='text' @click="enableEditingSeverity" v-model="issue_severity">{{ issue_severity}}</span>
              </div>
              <div v-if="editing_severity">
                <select class="browser-default custom-select custom-select-lg mb-3" v-model="temp_severity">
                  <option selected disabled>Issue Severity</option>
                  <option value ="P0">P0</option>
                  <option value ="P1">P1</option>
                  <option value ="P2">P2</option>
                  <option value ="P3">P3</option>
                  </optgroup>
                 </select>
                <button @click="disableEditingSeverity"> Cancel </button>
                <button @click="saveEditSeverity"> Save </button>
              </div>
          </td>
        </tr>
        <tr>
          <td>Assigned To</td>
          <td>
              <div v-if="!editing_assignee">
              <span class='text' @click="enableEditingAssignee" v-model="assigned_to">{{ assigned_to }}</span>
              </div>
              <div v-if="editing_assignee">
                <input v-model="temp_assignee" class="input"/>
                <button @click="disableEditingAssignee"> Cancel </button>
                <button @click="saveEditAssignee"> Save </button>
              </div>
          </td>
        </tr>
        <tr>
          <td>Reported By</td>
          <td>
              <div v-if="!editing_reportee">
              <span class='text' @click="enableEditingReportee" v-model="reported_by">{{ reported_by}}</span>
              </div>
              <div v-if="editing_reportee">
                <input v-model="temp_reportee" class="input"/>
                <button @click="disableEditingReportee"> Cancel </button>
                <button @click="saveEditReportee"> Save </button>
              </div>
          </td>
        </tr>
        <tr>
          <td>Issue Status</td>
            <td>
              <div v-if="!editing_status">
              <span class='text' @click="enableEditingStatus" v-model="issue_status">{{ issue_status}}</span>
              </div>
              <div v-if="editing_status">
                <select class="browser-default custom-select custom-select-lg mb-3" v-model="temp_status">
              <option selected disabled>Issue Status</option>
              <option value ="Open">Open</option>
              <option value ="In Progress">In Progress</option>
              <option value ="Peer Code Review">Peer Code Review</option>
              <option value ="Reopened">Reopened</option>
              <option value ="In QA">In QA</option>
              <option value ="Resolved">Resolved</option>
              </optgroup>
            </select>
            <button @click="disableEditingStatus"> Cancel </button>
                <button @click="saveEditStatus"> Save </button>
              </div>
          </td>
        </tr>
        <tr>
          <td>Workspace</td>
            <td>
              <div v-if="!editing_workspace">
              <span class='text' @click="enableEditingWorkspace" v-model="workspace">{{ workspace}}</span>
              </div>
              <div v-if="editing_workspace">
                <input v-model="temp_workspace" class="input"/>
                <button @click="disableEditingWorkspace"> Cancel </button>
                <button @click="saveEditWorkspace"> Save </button>
              </div>
          </td>
        </tr>
      </mdb-tbl-body>
    </mdb-tbl>
    <div v-if="edit" class="text-center py-4 mt-3"><br>
      <mdb-btn color="blue" type="submit">Update Issue</mdb-btn><br>
    </div>
    </form>
    <br>
  </div>
</div>
</center>

</body>
</html>
</template>



<script>
import axios from "axios";
import Router from "../main";

  import { mdbInput,mdbBtn,mdbCard,mdbCardBody, mdbTextarea, mdbToastNotification, mdbAlert, mdbTbl, mdbTblHead, mdbTblBody} from "mdbvue";
  export default {
    name: 'ViewProject',
    components: {
      mdbInput,
      mdbBtn,
      mdbCard,
      mdbCardBody,
      mdbTextarea,
      mdbToastNotification,
      mdbAlert,
      mdbTbl, 
      mdbTblHead, 
      mdbTblBody
    },

    data() {
      return {
        issue_name: "",
        issue_description: "",
        issue_severity: "",
        issue_status: "",
        assigned_to: "",
        reported_by: "",
        issue_id: "",
        project_id: "",

        issue_name_orig: "",
        issue_description_orig: "",
        issue_severity_orig: "",
        issue_status_orig: "",
        assigned_to_orig: "",
        reported_by_orig: "",

        value: "",
        workspace: "",

        temp_name: null,
        temp_description: null,
        temp_status: null,
        temp_severity: null,
        temp_assignee: null,
        temp_reportee: null,
        temp_workspace : null,

        edit: false,
        editing: false,
        editingIssue : false,
        editing_name: false,
        editing_description : false,
        editing_severity : false,
        editing_status : false,
        editing_assignee : false,
        editing_reportee : false,
        editing_workspace : false,

      }
    },

    mounted () {
    if(!this.$route.params.auth)
    {
        this.$router.push('/login');
    }
    else
    {
      console.log(this.$route.params.auth);
      this.issue_name_orig = this.issue_name;
      this.issue_description_orig = this.issue_description;
      this.issue_severity_orig = this.issue_severity;
      this.issue_status_orig = this.issue_status;
      this.assigned_to_orig = this.assigned_to;
      this.reported_by_orig = this.reported_by;
    }
  },

    methods: {
    enableEditingStatus: function(){
      this.temp_status = this.issue_status;
      this.editing_status = true;
    },
    enableEditingReportee: function(){
      this.temp_reportee = this.reported_by;
      this.editing_reportee = true;
    },
    enableEditingAssignee: function(){
      this.temp_assignee = this.assigned_to;
      this.editing_assignee = true;
    },
    enableEditingName: function(){
      this.temp_name = this.issue_name;
      this.editing_name = true;
    },
    enableEditingSeverity: function(){
      this.temp_severity = this.issue_severity;
      this.editing_severity = true;
    },
    enableEditingDescription: function(){
      this.temp_description = this.issue_description;
      this.editing_description = true;
    },
    enableEditingWorkspace: function(){
      this.temp_workspace = this.workspace;
      this.editing_workspace = true;
    },

    disableEditingName: function(){
      this.temp_name = null;
      this.editing_name = false;
    },
    disableEditingDescription: function(){
      this.temp_description = null;
      this.editing_description = false;
    },
    disableEditingStatus: function(){
      this.temp_status = null;
      this.editing_status = false;
    },
    disableEditingSeverity: function(){
      this.temp_severity = null;
      this.editing_severity = false;
    },
    disableEditingAssignee: function(){
      this.temp_assignee = null;
      this.editing_assignee = false;
    },
    disableEditingReportee: function(){
      this.temp_reportee = null;
      this.editing_reportee = false;
    },
    disableEditingWorkspace: function(){
      this.temp_workspace = null;
      this.editing_workspace= false;
    },

    saveEditStatus: async function(){
      this.issue_status = this.temp_status;
      this.disableEditingStatus();
      this.edit=true;
    },
    saveEditName: function(){
      this.issue_name = this.temp_name;
      this.disableEditingName();
      this.edit = true;
    },
    saveEditDescription: function(){
      this.issue_description = this.temp_description;
      this.disableEditingDescription();
      this.edit = true;
    },
    saveEditAssignee: function(){
      this.assigned_to = this.temp_assignee;
      this.disableEditingAssignee();
      this.edit = true;
    },
    saveEditReportee: function(){
      this.reported_by = this.temp_reportee;
      this.disableEditingReportee();
      this.edit= true;
    },
    saveEditSeverity: function(){
      this.issue_severity = this.temp_severity;
      this.disableEditingSeverity();
      this.edit=true;
    },

    saveEditWorkspace: function(){
      this.workspace = this.temp_workspace;
      this.disableEditingWorkspace();
      this.saving_workspace=true;
    },

    updateIssue : function() {
      console.log('Inside Update');
      let issue_id = this.issue_id;
      let issue_name = this.issue_name;
      let issue_description = this.issue_description;
      let issue_severity = this.issue_severity;
      let issue_status = this.issue_status;
      let assigned_to = this.assigned_to;
      let reported_by = this.reported_by;
      let project_id = this.project_id;
      let workspace = this.workspace;

      let result = axios({ method: "PUT", "url": "http://localhost:4910/v1/issue",
            "data": {issue_id, issue_name, issue_description, issue_severity, issue_status, assigned_to, reported_by, project_id, workspace} }).then(result => {
                console.log(result.data);
                return result.data[0];
            }, error => {
                console.error(error);
                return error;
          }).then(result => {
                this.issue_name = result.issue_name;
                this.issue_description = result.issue_description;
                this.issue_severity = result.issue_severity;
                this.issue_status = result.issue_status;
                this.assigned_to = result.assigned_to;
                this.reported_by = result.reported_by;
                this.issue_id = result.issue_id;
                this.project_id = result.project_id;
                this.workspace = result.workspace;
          });
    }

  },

    async mounted() {
        this.issue_id = this.$route.params.issue_id;
        let issue_id = this.issue_id;

        console.log(issue_id);
        await axios({ method: "GET", "url": "http://localhost:4910/v1/issue",
            params: {issue_id: this.issue_id} }).then(result => {
                console.log('Okayyy');
                console.log(result.data);
                return result.data[0];
            }, error => {
                console.error(error);
                return error;
          }).then(result => {
                console.log('Iin');
                this.issue_name = result.issue_name;
                this.issue_description = result.issue_description;
                this.issue_severity = result.issue_severity;
                this.issue_status = result.issue_status;
                this.assigned_to = result.assigned_to;
                this.reported_by = result.reported_by;
                this.issue_id = result.issue_id;
                this.project_id = result.project_id;
                this.workspace = result.workspace;
          });

      }

  }

</script>

<style scoped>

.container-fluid{
  font-size: 18px;
}

.container {
  font-size: 25px;
}

.navbar-brand {
  margin-left:-500px;
  margin-right: -200px;
}

.navbar-nav-right {
  font-color:white;
  margin-left: 100px;
  margin-right: -600px;
}


.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
  margin-left: -500px;
  margin-right: -300px;
}

.navbar .dropdown-menu a {
  margin-top: 0px;
  font-size: 14px;
}

.card {
  max-width:700px;
  margin-top: 150px;
  margin-left:450px;
}

.md-form label {
  font-size: 4em;
}

.md-form .prefix {
  font-size: 3em;
  left:1em;
}

.toast {
  font-size:30px;
  margin-left:100px;
}

table td{
  font-size: 22px;
}

.panel-title {
  font-size: 24px;
  text-align: center;
}

.panel-heading {
  width:1000px;
  background-color:#337ab7;
  color: white;
  font-weight:100px;
  font-size:24px;
}

.panel-default > .panel-heading {
  background-color:#337ab7;
  border-color: black;
  color:white;
}

.panel {
  margin-top: 100px;
  width:1000px;
}

p {
  font-size: 20px;
}

a {
  margin-right:30px;
}
</style>
