<template>
  <div id="app">
    <router-view> </router-view>
  </div>
</template>
<script>
import axios from "axios";
import { mdbContainer, mdbCol, mdbRow,mdbBtn } from "mdbvue";
import SideBar from '../src/components/SideBar';

export default {
  name: "App",
  data () {
    return {
      authenticated: false,
      info: null,
    };
  },
  components: {
    mdbContainer,
    mdbRow,
    mdbCol,
    mdbBtn,
    SideBar
  },
  mounted() {
        //     if(!this.authenticated) {
        //         this.$router.replace({ name: "Login" });
        //     }
        // },
  // methods: {
  //   setAuthenticated(status) {
  //       this.authenticated = status;
  //   },
  //   logout() {
  //       this.authenticated = false;
  //   }
  // }
  }
  
}
</script>

<style scoped>
</style>
